*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/modules.xml
.idea/modules.xml
app/src/main/java/app/parkidle/ColorManager.java
app/src/main/java/app/parkidle/MainActivity.java
app/src/main/java/app/parkidle/ColorManager.java
