<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.parkidle">

    <!-- PredictIO normal permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- PredictIO dangerous permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher_official"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_official"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:persistent="true">
        <meta-data
            android:name="io.predict.sdk.API_KEY"
            android:value="f6ab56f0d12e76baee171486e8548cb5bf811d5e11d284f3016ea3711c809eeb" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <service
            android:name=".DetectedActivitiesIntentService"
            android:exported="false" />
        <service
            android:name="io.predict.sdk.detection.services.PIOMainService"
            android:exported="false" />
        <service
            android:name="io.predict.sdk.detection.services.PIOUtilService"
            android:exported="false" />
        <service
            android:name="io.predict.sdk.detection.services.PIOLocationService"
            android:exported="false" />
        <service
            android:name="io.predict.sdk.detection.services.PIOComService"
            android:exported="false" />
        <service
            android:name=".MQTTSubscribe"
            android:exported="false" />

        <receiver android:name="io.predict.sdk.detection.receivers.PIOReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.AIRPLANE_MODE" />
                <action android:name="android.location.PROVIDERS_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="com.sonymobile.SUPER_STAMINA_SETTING_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!--
        Set custom default icon. This is used when no icon is set for incoming notification messages.
        See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/my_car_parked" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <!-- <service android:name="org.eclipse.paho.android.service.MqttService" /> -->


        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="com.google.android.gms.actions.SEARCH_ACTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".TutorialActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".DashboardActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity" />
        <activity android:name=".FeedBackActivity" />
        <activity android:name=".FullScreenImage"/>

    </application>

</manifest>